@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 16px;
  text-align: center;
  font-family: Raleway, sans-serif;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}

header {
  padding: 2rem;
}

header > p {
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}
header > p:hover {
  font-size: 110%;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
}
#about {
  width: 75vw;
  height: 75vh;
  background-color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transition: 0.4s ease;
  display: flex;
  border-radius: 5%;
}
#about i {
  margin: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}
#about i:hover {
  color: blue;
}
.hidden {
  opacity: 0;
  z-index: -1000;
}
.planner {
  width: 1024px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 150px);
}

.planner .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.row > div {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  background-color: transparent;
  border: solid 0.2px teal;
}

.planner div {
  border: solid 0.2px teal;
}

#totalDisplay {
  padding: 2rem;
  border: 2px solid red;
  width: 350px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
#totalDisplay p {
  width: 50%;
}

#totalDisplay > hr {
  border: 1px solid black;
  width: 100%;
  margin: auto;
}
